h1, h2, h3, p { 
    color: #F0F5F9;
  }
  
  .cont {
    position: relative;
    overflow: hidden;
  }
  
  .backgroundTL {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-image: url('../assets/image.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top left;
    filter: blur(4px);
    z-index: -1;
  }
  .backgroundBR {
    position: absolute;
    top: 0;
    left: 300px;
    height: 100%;
    width: 100%; 
    background-image: url('../assets/image.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom right;
    filter: blur(4px);
    z-index: -1;
  }
  .sec{
    min-height: 400px;
    width: 100%;
  }
  