 h1 {
    color: #F0F5F9 !important;
}



.sec{
    min-height: 1000px!important;
    width: 100% !important;
    background-color: rgb(105 25 255);
    background-image: url("../assets/future-grid.webp"); 
    background-size: cover;
}